# Use the following command to regenerate Python modules
# flatpak-pip-generator --runtime=org.gnome.Sdk//50 -r requirements.txt -o python3-modules --prefer-wheels=mutagen

distro
mutagen
peewee
pytz
requests
